NODE_ENV=development
APP_PORT=3001

DB_CLIENT=pg
DB_HOST=ep-green-shape-agaamoe9-pooler.c-2.eu-central-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_kW7mtuKivZQ3
DB_SSL=true
DB_SSL_MODE=require
DB_CHANNEL_BINDING=require

# Альтернатива (если используешь единый URL подключения)
DATABASE_URL=postgresql://neondb_owner:npg_kW7mtuKivZQ3@ep-green-shape-agaamoe9-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

SECRET_KEY=change_me
JWT_SECRET=change_me
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=30d

LOG_LEVEL=info
SWAGGER_PATH=docs
